annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
idna==3.11
joblib==1.5.3
numpy==1.26.4
pandas==2.2.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
scikit-learn==1.4.2
scipy==1.13.1
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
streamlit==1.40.0
plotly==5.22.0
matplotlib==3.8.4